{
    "description": "Read a secret value from Secrets Manager.",
    "policies": {
        "Version": "2012-10-17",
        "Statement": [
            {
                "Effect": "Allow",
                "Action": "secretsmanager:GetSecretValue",
                "Resource": [
                    "{{RESOURCE_ARN}}"
                ]
            }
        ]
    },
    "managed_policies": []
}